*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
#nav{
    position: absolute;
    top: 0px; 
    display: flex;
    align-items: center;
    position: sticky;
    /* border: 2px solid darkmagenta; */
}
#nav::before{
    content: "";
    background-color: rgb(46, 45, 45);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}
#nav ul{
    display: flex;
}
#nav ul li{
    list-style: none;
    font-size: 1.3rem;
}
#nav ul li a{
    color: white;
    display: block;
    padding: 0px 12px;
    text-decoration: none;
    border-radius: 15px;
    cursor: pointer;
}
#nav ul li a:hover{
    color: black;
    background-color: white;
}
#logo{
    margin: -30px -20px;
}
#logo img{
    height: 60px;
    margin: 35px;
    border-radius: 30px;
}

/* End Of Navigation */

/* Home Section*/
#home{
    display: flex;
    margin: 5px 5px;
    /* position: relative; */
    flex-direction: column;
    align-items: center;
    height: 370px;
    justify-content: center;
    padding: 10px 15px;
    /* border: 2px solid red; */
     /* border: 2px solid rgb(116, 39, 239); */
}
#home::before{
    content: "";
    background: url(../res/bg1.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 465px;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
    /* border: 2px solid rgb(244, 9, 9); */
}
.h1-home{
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 2.5rem;
    /* border: 2px solid red; */
}
#home p{
    color: white;
    text-align: center;
    font-size: 1rem;
    /* border: 2px solid red; */
}
.btn{
    padding: 3px 10px;
    margin: 2px 2px;
    background-color: #284b36;
    border: 2px solid white;
    color: white;
    border-radius: 20px;
    font-size: 1.1rem;
    cursor: pointer;
}

/* End of Home */

/* services */

#service-conatiner{
    margin: 5px 5px;
    /* border: 2px solid greenyellow; */
    height: 370px;
}
#service-conatiner::before{
    content: "";
    background: url(/res/bg2.jpg) no-repeat center center/cover;
    width: 100%;
    height: 370px;
    position: absolute;
    z-index: -1;
    opacity: 0.8;
}
#h1-service{
    text-align: center;
    /* border: 2px solid greenyellow; */
    padding: 5px 5px;
    margin: 2px 2px;
    font-size: 2rem;
}
.service{
    margin: 10px;
    display: flex;
    flex-direction: row;
    /* border: 2px solid greenyellow; */
    align-items: center;
    justify-content: center;
}
.service .box{
    border: 2px solid red;
    height: 290px;
    width: 450px;
    display: flex;
    flex-direction: column;
    margin: 5px 10px;
    padding: 2px 2px;
    border-radius: 15px;
    background-color: #cbffe5;
    justify-content: center;
    align-items: center;
}
.service .box img{
    height: 160px;
    display: block;
    margin: auto;
} 
.box h2{
    justify-content: center;
    text-align: center;
}
#p-service{
    justify-content: center;
    text-align: center;
}

/* End of About Us */

/* Our Clients */
#client-container{
    height: 350px;
    /* border: 2px solid red; */
    margin: 5px 5px;
    padding: 10px 10px;
}
#client-container::before{
    content: "";
    background: url(/res/contact.jpg) no-repeat center center/cover;
    width: 100%;
    height: 350px;
    position: absolute;
    z-index: -1;
    opacity: 0.8;
}
#client-container h1{
    text-align: center;
    font-size: 2rem;
    margin: 10px 10px;
    padding: 10px 10px;
    color: white;
    /* border: 2px solid rgb(215, 248, 29); */
}
#clients{
    display: flex;
    /* border: 2px solid rgb(53, 46, 255); */
    padding: 3px 5px;
    justify-content: center;
    margin: 10px 5px;
    align-items: center;
}
.client-item img{
    height: 200px;
    width: 210px;
    padding: 5px 20px;
    margin: 10px 10px;
    border-radius: 70px;
    /* border: 2px solid rgb(252, 21, 244); */
}

/* End of Our Clients */

/* Contact us */
#contact-container{
    height: 370px;
    /* border: 2px solid red; */
    margin: 5px 5px;
    padding: 10px 10px;
}
#contact-container::before{
    content: "";
    background: url(/res/contact-us.jpg) no-repeat center center/cover;
    width: 100%;
    height: 370px;
    position: absolute;
    z-index: -1;
    opacity: 0.8;
}
#contact-container h1{
    text-align: center;
    font-size: 2rem;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30x;
    /* border: 2px solid red; */
}
#contact-box form{
    width: 40%;
}
.form-group label{
    font-size: 1.3rem;
}
.form-group input,
.form-group textarea{
    width: 87%;
    font-size: 0.7rem;
    padding: 0.2rem;
}
footer div{
    text-align: center;
    color: white;
    padding: 1px 2px;
    margin: 2px 2px;
    background-color: black;
}

